@media (max-width:575px){


.back1{
    background-color: coral;
    height: 385px
     
}
.logo{
    margin-top: 50px;
    margin-bottom: 100px;
}
.verticalbar{
    background-color: rgba(0, 0, 0, 0.5);
    height: 385px;
}    
.blockblack{
    background-color: black;
    height: 20px;
    width: 100%;
    margin-top: 100px;
    outline: 15px solid black;
   
}
}